<h1>Editing vendor</h1>

<%= render "form", vendor: @vendor %>

<br>

<div>
  <%= link_to "Show this vendor", @vendor , class:'btn btn-secondary' %> |
  <%= link_to "Back to vendors", vendors_path , class:'btn btn-dark' %>
</div>
